{% extends 'base.html.twig' %}

{% block title %}Annonce
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ annonce.titre }}</h1>
    <img src="{{   asset('img/postings/' ~ posting.photo1) }}" alt="">
    <p>Publié le
        {{annonce.date|date('d/m/Y')}}</p>
    <p>{{annonce.contenu}}</p>

    {{ form( form, {'action': path( 'creer_commentaire', {'annonce_id': annonce.id} )} ) }}

    {% for commentaire in annonce.commentaires %}
    <p>
        <span class="d-block font-weight-bold">Le {{ commentaire.date|date('d/m/Y') }}</span>
        {{ commentaire.contenu }}
    </p>
    {% else %}
    <p>Cet annonce n'a pas encore de commentaire.</p>
    {% endfor %}
</div>
{% endblock %}
