{% extends "base.html.twig" %}

{% block title %}Toutes les annonces
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="{{ asset('css/posting.css') }}">
	<link rel="stylesheet" href="{{ asset('css/listing-posting.css') }}">
{% endblock %}
{% block content %}


	<h1>
		Nos annonces
	</h1>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<form class="form-inline">
			<input class="form-control mr-sm-2" type="text" placeholder="Ville">
			<input class="form-control mr-sm-2" type="text" placeholder="Type de logement">
			<input class="form-control mr-sm-2" type="number" placeholder="nombre de pièces">
			<input class="form-control mr-sm-2" type="text" placeholder="Superficie">
			<input class="form-control mr-sm-2" type="number" placeholder="Loyer">
			<button class="btn btn-secondary" type="submit">Rechercher</button>
		</form>
	</nav>
	{% for p in postings %}

		<div class="container">

			<div class="card-groups">


				<div class="card">
					<img class="image" src="{{ asset('img/postings/' ~ p.photo1) }}" alt="">
					<div class="card-body">

						<h2 class="card-title">{{p.adresse}}</h2>

						<p class="card-text">{{p.loyer}}€/mois
						</p>
						<p class="card-text">{{p.getNombrePieces}}
							pièces -
							{{p.superficie}}
							m2
						</p>
						<a href="{{ path('posting', {'id': p.id}) }}" class="btn">voir l'annonce</a>
					</div>
				</div>
			</div>
			<div class="description">
				{{p.description}}
			</div>

		</div>


	{% endfor %}
	<button class="scrollToTopBtn">TOP</button>
{% endblock %}
{% block js %}
	<script src="{{ asset('js/listing-posting.js') }}"></script>
{% endblock %}
